.advantages{


}

.advantages__wrapper{
  @include container;

  min-height: 346px;


  background-color: red;
}

.advantages__items{
  @include margin-padding-null;

}

@media (min-width: $tablet-widths) {
  .advantages{

  }

  .advantages__wrapper{
    min-height: 537px;
  }
}

@media (min-width: $desktop-widths) {
  .advantages__wrapper{
    min-height: 393px;

  }
}

