.news{

}

.news__wrapper{
  @include container;
  min-height: 506px;
  background-color: #00DD00;
}

.news__items{
  @include margin-padding-null;
}

.news__item{
  @include margin-padding-null;
}

.news__title{
  @include margin-padding-null;
}



@media (min-width: $tablet-widths) {
  .news{

  }

  .news__wrapper{
    min-height: 323px;
  }
}

@media (min-width: $desktop-widths) {
  .news__wrapper{
    min-height: 364px;
  }
}
