.page-header{
  @include container-fluid;
  min-height: 103px;
  padding-top: 28px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;

}

.page-header__logo{
  margin: auto;

  height: 34px;
  width: 235px;
  text-align: center;
}

.page-header__logo img{

}


@media (min-width:$tablet-widths){
  .page-header{
    display: flex;
    flex-direction: column;
    padding-top: 0;

    //width: $tablet-widths;
    min-height: 70px;

    background-color: #000;

  }

  .page-header__logo{
    order: 2;
    width: 100%;
    height: 400px;
    background-color: black;
    background-image: url("../img/background-logo-desktop-jpg.jpg");
    background-repeat: no-repeat;
    background-position: center -70px;
    background-size: cover;
  }
  .page-header__logo img{
    margin-top: 100px;
  }
}

@media (min-width:$desktop-widths) {
  .page-header{
    //min-width: 1200px;

  }

  .page-header__logo {
    height: 648px;
    //background-image: url("../img/background-logo-desktop-jpg.jpg");
    background-size: cover;
  }

  .page-header__logo img{
    margin-top: 120px;
  }
}
