.page-footer{
  @include container;
  min-height: 493px;

  background-color: #6ee866;
}

.page-footer__contacts{
  @include margin-padding-null;
}

.page-footer__social{
  @include margin-padding-null;
}

.page-footer__copyright{
  @include margin-padding-null;
}

@media (min-width: $tablet-widths) {
  .page-footer {
    min-height: 348px;
  }
}

@media (min-width: $desktop-widths) {
  .page-footer {
    min-height: 198px;
  }
}
