.stats{
  @include container;

}

.stats__header{
  width: 320px;
  min-height: 184px;

  background-color: palegreen;

}

.stats__items{
  width: 320px;
  min-height: 317px;

  background-color: #00cc99;

}