.stats{
  @include container;

}


.stats__header{

  min-height: 127px;
  padding: 27px 35px;

  background-color: yellow;

}

.stats__items{
  width: 320px;
  min-height: 379px;


  background-color: blue;


}

@media (min-width:$tablet-widths){
  .stats{
    position: relative;
    z-index: 1;

    margin-top: -185px;
  }

  .stats__header{
    min-height: 185px;
    width: 640px;
    @include margin-padding-null;

  }

  .stats__items{
    display: block;

    width: 640px;
    min-height: 317px;
    @include margin-padding-null;
  }
}

@media (min-width: $desktop-widths) {
  .stats{
    @include clearfix;
    margin-top: -158px;

  }

  .stats__header{
    float: left;
    width: 320px;
    min-height: 317px;
    @include margin-padding-null;
  }

  .stats__items{
    float: right;
    @include margin-padding-null;

  }

}
