@import "bourbon";
@import "vars";

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666
}
body input:required:valid,
body textarea:required:valid{
	color: #666;
}

body {
	font-size: 18px;
	line-height: 27px;
	min-width: 320px;
	position: relative;
	color: #f7f4f1;
	font-family: $default-font;
	font-style: normal;
	overflow-x: hidden;
	background-color: $bg-darkgrey;

	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}

